*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    height: 400px;
    
    background-image: url(/AssignmentWeek3-NO.2/images/gradienta-n2XqPm7Bqhk-unsplash.jpg);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 70px 25px 0px 25px;
}
main{
    background-image: url(/AssignmentWeek3-NO.2/images/pexels-gradienta-6985122.jpg);
}
.content{
    display: flex;
    gap: 80px;
    padding-top: 15px;
    padding-left: 30px;
}
.content button{
    background-color: rgba(255, 0, 0, 0);
    border: none;
    color: white;
}
.content button a{
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
.content p{
    color: rgba(255, 255, 255, 0.795);
}
.search{
    width: 500px;
    height: 50px;
    border: none;
    margin-left: 390px;
    margin-top: 120px;
    background-color: rgba(20, 20, 20, 0.208);
    border-radius: 30px;
    padding-left: 15px;
    color: rgba(241, 239, 239, 0.717);
}
.buttons{
    padding-right: 40px;
}
.buttons .button1:hover{
    background-color: rgba(0, 0, 255, 0.836);
}
.buttons .button2:hover{
    background-color: rgb(174, 35, 35);
}
.button1{
   background-color: rgba(54, 54, 172, 0.941);
   color: white;
   border: none;
   padding: 5px 17px 5px 17px;
   margin-right: 10px;
   border-radius: 5px;
}
.button2{
    background-color: rgba(151, 41, 41, 0.772);
    color: white;
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: none;
}
.search input{
 border: none;
 background-color: rgba(20, 20, 20, 0);
 padding-top: 16px;
 outline: none;
}
/*Main body styling*/

.car{
    padding-top: 60px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px;
    margin-right: 30px;
    margin-left: 30px;
}
.car_{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.514);   
}
.car_collections{
    display: flex;
    gap: 10px;
    padding: 13px;
    color: white;
}
.imagecontainer1{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.imagecontainer1 img{
    width: 300px;
    height:200px;
}
.imagecontainer2{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.imagecontainer2 img{
    width: 300px;
    height:200px;
}
.imagecontainer3{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.imagecontainer3 img{
    width: 300px;
    height:200px;
}
.imagecontainer4{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.imagecontainer4 img{
    width: 250px;
    height:200px;
}
/*Second section styling*/
.Movies{
    margin-top: 60px;
    box-shadow: 0px 0px 8px 0px;
    margin-left: 30px;
    margin-right: 30px;
}
.movies_{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.514);   
}
.latest_movies{
    display: flex;
    gap: 60px;
    padding: 20px 5px 40px 140px;
    color: white;
}
.firstimagecontainer{
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.firstimagecontainer img{
    width: 200px;
    height: 300px;
}
.secondimagecontainer{
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.secondimagecontainer img{
    width: 200px;
    height: 300px;
}
.thirdimagecontainer{
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.thirdimagecontainer img{
    width: 200px;
    height: 300px;
}
.fourthimagecontainer{
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.fourthimagecontainer img{
    width: 150px;
    height: 300px;
}
/*last section*/
.album{
    margin-top: 90px;
    box-shadow: 0px 0px 8px 0px;
    padding-bottom: 80px;
    margin-left: 30px;
    margin-right: 30px;
}
.album_{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.514);   
}
.bestalbums{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    color: white;
    padding-left: 10px;
}
.album1{
    width: 280px;
    height: 300px;
}
.album1 img{
    width: 280px;
    height:300px;
}
.album2{
    width: 300px;
    height: 300px;
}
.album2 img{
    width: 300px;
    height:300px;
}
.album3{
    width: 300px;
    height: 300px;
}
.album3 img{
    width: 300px;
    height:300px;
}
.album4{
    width: 300px;
    height: 300px;
}
.album4 img{
    width: 260px;
    height:300px;
}